body{
    background-color: rgb(199, 223, 238);
}
.container{
    background-color: rgb(110, 134, 244);
    width:600px;
    height:230px;
    margin-top: 230px;
    margin-left: 450px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 15px rgb(186, 186, 228);
}
.first{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    left: 110px;
    top: 35px;
}
button{
    height: 35px;
    width: 50px;
    border-radius: 15px;
    margin-left: -70px;
}
p{
    position: relative;
    color: aliceblue;
    text-align: center;
    
}
h1{
    position: relative;
    left: 80px;
    color:aliceblue;
    margin-left: 50px;
}
input[type="email"] {
    padding: 15px;
    background-color: #b3bee1;
    width: 100%;
    max-width: 300px;
    border-radius: 100px;
    border: 1px solid #ccc;
    margin-left: 125px;
    margin-top: 20px;
}